{{!-- {{> navigation/navigation}}
<div class="content">
  <div class="normal-content">
    <div class="photo-list">
      {{> cards/card title=photo}}
      {{> cards/photo}}
      {{> cards/photo}}
      {{> cards/photo}}
      {{> cards/photo}}
      {{> cards/photo}}
      {{> cards/photo}}
    </div>
  </div>
</div>
<script src="javascripts/album.js"></script> --}}