{{> navigation/navigation}}
<div class="content">
  <div class="focused-content">
    <div class="focused-content__close">
      <a href="/mock/profile"><i class="fas fa-times"></i></a>
    </div>
    <h1 class="focused-content__title">Create a new Album</h1>
    <div class="focused-content__action">
      <form action="/{{user._id}}" method="POST" id="form" class="form" enctype="multipart/form-data">
        <div class="form__group">
          <label for="name">Album name</label>
          <input id="name" type="text" name="name" placeholder="The album name">
        </div>
        <div class="form__group">
          <label for="photos">Photos</label>
          <input id="photos" type="file" name="photos" multiple>
        </div>
        {{#if message }}
          <div class="form__message">{{ message }}</div>
        {{/if}}
        <div class="form__submitting">
          <a href="/mock/profile" class="button button--send">Create album</a>
        </div>
      </form>
      <a href="/mock/profile" class="button">Cancel</a>
    </div>
  </div>
</div>