{{> navigation/navigation}}
<div class="content">
  <div class="normal-content">
    <div class="profile-data">
      <img src="/images/test/test-1.jpg" alt="Username profile" class="profile-data__image">
      <div class="profile-data__description">
        <h1 class="profile-data__description-title">My username</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam vitae dolor obcaecati, at quos inventore expedita saepe assumenda optio illo? In obcaecati doloremque sunt necessitatibus consequuntur quaerat ipsam? Debitis, qui.</p>
      </div>
    </div>
    <h2 class="album-list__title">Username's albums</h1>
    <div class="album-list">
      {{> cards/album}}
      {{> cards/album}}
      {{> cards/album}}
      {{> cards/album}}
      {{> cards/album}}
      {{> cards/card url='/mock/new-album' title='Create new album'}}
    </div>
  </div>
</div>