{{> navigation/navigation user}}
<div class="content">
  <div class="normal-content">
    <div class="profile-data">
      <a href="/user/{{user._id}}/edit"><img src={{user.userPhoto}} alt="Username profile" class="profile-data__image"></a>
      <div class="profile-data__description">
        <h1 class="profile-data__description-title">{{user.username}}</h1>
      </div>
    </div>
      <div class="album-list">
          <h2 class="album-list__title">{{this.name}}</h1>
        {{#each user.albums}}
          {{> cards/album album=this}}
        {{/each}}
        {{> cards/card starturl="/user/" endurl="/editAlbum" id=user._id}}
      </div>
  </div>
</div>