.images-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  
  &__title{
    font-weight: $font-weight-light;
  }

  & > div{
    margin: 1rem;
  }

  &__canvas{
    margin-top: 3rem;
    background-color: lighten(#91AA9D,45%);
    transition: all 1.5s ease-in-out;
    max-height: 0;
    opacity: 0;
  }
}