.images-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  
  &__title{
    font-weight: $font-weight-light;
  }

  & > div{
    margin: 1rem;
  }

  &__canvas{
    margin-top: 3rem;
    background-color: rgba($text-color, .1);
    transition: all .3s ease-in-out;
    display: none;
    opacity: 0;
  }
}