{{> navigation/navigation}}
<div class="content">
  <div class="normal-content">
    <h1>Welcome to Vimo</h1>
    <div class="flexbin flexbin-margin normal-content__image-grid">
      <a href="#">
        <img src="images/test/test-1.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-2.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-3.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-4.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-5.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-6.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-7.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
      <a href="#">
        <img src="images/test/test-8.jpg" alt="">
        <div class="normal-content__image-grid-author">
          <span>Yo soy el autor</span>
        </div>
      </a>
    </div>
  </div>
</div>
<script src="javascripts/image-grid.js"></script>