{{> navigation/navigation}}
<div class="content">
  <div class="normal-content">
    <h1>Welcome to Vimo</h1>
    <div class="flexbin flexbin-margin normal-content__image-grid" id="image-grid">
      
    </div>
    <div class="normal-content__load-images">
      <i class="fas fa-spinner"></i>
    </div>
  </div>
</div>
<script src="javascripts/image-grid.js"></script>