*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: $default-font-size;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $font-weight-normal;
  color: $text-color;
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight-bold;
  font-style: normal;
  color: darken($text-color, 2.5%);
}

h1{
  font-size: 5.2rem;
  text-align: center;
  font-weight: $font-weight-light;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.8rem;
}
h5{
  font-size: 1.6rem;
  text-decoration: underline;
}
h6{
  font-size: 1.4rem;
  text-decoration: underline;
}

em{
  font-style: italic;
  font-weight: $font-weight-normal;
}

a {
  color: $link-color;
}