/*
* SASS is like CSS but extended. Any valid CSS is valid SASS(SCSS).
* With the & symbol you can get the parent selector. For example:
* .container h1{
*   
* }
* Equals to: 
* .container{
*   & h1{
*     
*   }
* }
* 
* Also, you can create variables with the $ symbol. For example:
* $varName: #FFFFFF;
* To use it:
* color: $varName;
*
* The last thing you should know is that you can use SASS functions such as darken(color, ammount) or lighten(color, ammount)
* More info about functions on: https://sass-lang.com/documentation/Sass/Script/Functions.html
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #FAFAFA; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  color: #2d2d2d; }

h1 {
  font-size: 5.2rem;
  text-align: center;
  font-weight: 300; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.6rem;
  text-decoration: underline; }

h6 {
  font-size: 1.4rem;
  text-decoration: underline; }

em {
  font-style: italic;
  font-weight: 400; }

a {
  color: #00B7FF;
  text-decoration: none; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4080bf;
  padding: 1rem; }
  .navigation__logo {
    height: 3rem; }
    .navigation__logo img {
      height: 100%; }
  .navigation__search {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem; }
    .navigation__search input {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 1rem;
      margin-right: 0;
      border: 0;
      border-radius: .5rem 0 0 .5rem;
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(38, 38, 38, 0.4); }
    .navigation__search .button {
      flex-grow: 0;
      flex-shrink: 0;
      padding: .35rem;
      border-radius: 0 .5rem .5rem 0;
      margin-left: 0;
      border: 0; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .navigation__list-link {
      padding: 1rem;
      color: #f2f2f2;
      flex-grow: 0;
      flex-shrink: 0; }
  .navigation--auth {
    justify-content: center; }

.focused-content {
  background-color: #FAFAFA;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(38, 38, 38, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 1.5rem; }
  .focused-content__close {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-right: 3rem; }
    .focused-content__close a {
      color: #333;
      font-size: 2rem; }
  .focused-content__title {
    padding: 1.5rem 3rem 3rem 3rem; }
  .focused-content__action {
    width: 50%; }
    .focused-content__action > .button {
      width: 100%; }

.normal-content {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .normal-content__image-grid {
    padding: 5rem 0;
    position: relative; }
    .normal-content__image-grid a {
      transition: all .3s ease-in-out; }
      .normal-content__image-grid a:hover {
        transform: scale(1.15);
        z-index: 1500; }
    .normal-content__image-grid-author {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      color: #333;
      background-color: rgba(250, 250, 250, 0.6);
      width: 100%;
      height: 100%;
      text-align: center;
      transition: opacity .3s;
      transition-timing-function: ease-in-out; }
      .normal-content__image-grid-author span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.4rem; }
      .normal-content__image-grid-author:hover {
        opacity: 1; }
  .normal-content__load-images {
    padding: .5rem;
    display: inline-block;
    text-align: center;
    border: 0.1rem dashed rgba(38, 38, 38, 0.6);
    border-radius: 100%;
    background-color: #FAFAFA;
    color: #333;
    font-size: 2.4rem;
    cursor: pointer;
    transition: all 1.5s ease-in-out; }
    .normal-content__load-images:hover {
      transform: rotate(calc(360deg*2)); }

.button {
  border: 0;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
  margin: .5rem;
  text-transform: uppercase;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(38, 38, 38, 0.3); }
  .button i {
    padding: .5rem;
    font-size: 1.8rem; }
  .button--mail {
    background-color: #FCFCFC;
    border: 1px solid rgba(38, 38, 38, 0.3); }
    .button--mail i {
      color: #bf4040; }
  .button--instagram {
    background-color: #c32aa3;
    color: #FCFCFC; }
    .button--instagram i {
      color: #FCFCFC; }
  .button--facebook {
    background-color: #3b5998;
    color: #FCFCFC; }
    .button--facebook i {
      color: #FCFCFC; }
  .button--send {
    background-color: #4080bf;
    color: #FCFCFC; }

.form__group {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .form__group label {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem; }
  .form__group input {
    padding: 1rem;
    border: 1px solid rgba(38, 38, 38, 0.3);
    border-radius: .5rem; }

.form__message {
  padding: 1rem;
  background-color: rgba(191, 64, 64, 0.8);
  color: #FCFCFC;
  border-radius: .5rem; }

.form__submitting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.6; }

.form .button {
  width: 80%;
  line-height: 1.8; }

.card {
  width: 30rem;
  height: 30rem;
  position: relative;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed rgba(38, 38, 38, 0.3);
  border-radius: .3rem;
  background-color: rgba(191, 191, 191, 0.3); }
  .card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: #404040; }
  .card__new {
    padding: 1.5rem;
    border: 0.5rem dotted #404040;
    font-size: 3.2rem;
    border-radius: 50%;
    color: #404040; }

.album {
  width: 30rem;
  height: auto;
  position: relative;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: .3rem; }
  .album a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .album__title {
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem; }
  .album__image {
    margin: 0 auto;
    width: 100%;
    height: auto; }

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto; }

.album-list {
  display: flex;
  flex-basis: 30rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem; }
  .album-list__title {
    font-weight: 300; }

.profile-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-bottom: 3rem;
  background-color: rgba(237, 237, 237, 0.3);
  border-radius: .5rem; }
  .profile-data__image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 3rem; }
  .profile-data__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
    .profile-data__description-title {
      padding: 2rem;
      padding-top: 0;
      padding-left: 0;
      font-size: 3.6rem; }

/*# sourceMappingURL=style.css.map */