/*
* SASS is like CSS but extended. Any valid CSS is valid SASS(SCSS).
* With the & symbol you can get the parent selector. For example:
* .container h1{
*   
* }
* Equals to: 
* .container{
*   & h1{
*     
*   }
* }
* 
* Also, you can create variables with the $ symbol. For example:
* $varName: #FFFFFF;
* To use it:
* color: $varName;
*
* The last thing you should know is that you can use SASS functions such as darken(color, ammount) or lighten(color, ammount)
* More info about functions on: https://sass-lang.com/documentation/Sass/Script/Functions.html
*/

// CSS RESET
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// BASIC CSS CONFIG
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #00B7FF;
}
