.album{
  width: $album-card-dimensions;
  height: auto;
  position: relative;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba($shadow-color, .4);
  border-radius: .3rem;

  & a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
  }

  &__image{
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}