.focused-content{
  background-color: $bg-color;
  border-radius: 1rem;
  box-shadow: .3rem .3rem .5rem $shadow-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 1.5rem;

  &__close{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-right: 3rem;

    & a{
      color: $text-color;
      font-size: 2rem;
    }
  }

  &__title{
    padding: 1.5rem 3rem 3rem 3rem;
  }

  &__action{
    width: 50%;

    & > .button{
      width: 100%;
    }
  }
}