<div class="card">
  <a href="{{starturl}}{{id}}{{endurl}}" class="card__container">
    <h2 class="card__title">{{title}}</h2>
    <div class="card__new">
      <i class="fas fa-plus"></i>
    </div>
  </a>
</div>