<div class="photo">
  <div class="photo__actions">
    <div class="photo__actions-option">
      <a href="#" class="edit-photo"><i class="fas fa-pencil-alt"></i></a>
    </div>
    <div class="photo__actions-option">
      <a href="#"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <a href="/mock/photo">
    <img src="/images/test/test-2.jpg" alt="Test 1" class="photo__image">
  </a>
</div>