{{!-- <h2>Upload a new picture</h2> --}}

{{photo}}

{{!-- <form action="/pict/newPicture" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Description</label>
  <input type="text" name="description">

  <label>Picture</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form> --}}