{{!-- <h2>Upload a new picture</h2> --}}

{{photo}}

<div class="photo">
  <div class="photo__actions">
    <div class="photo__actions-option">
      <a href="#"><i class="fas fa-pencil-alt"></i></a>
    </div>
    <div class="photo__actions-option">
      <a href="#"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <a href="/mock/photo">
    <img src="/images/test/test-2.jpg" alt="Test 1" class="photo__image">
  </a>
</div>

{{!-- <form action="/pict/newPicture" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Description</label>
  <input type="text" name="description">

  <label>Picture</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form> --}}