<nav class="navigation">
  <div class="navigation__logo">
    {{#if this}}
    <a href="/"><img src="/images/LogoVimo.png" alt="Vimo logo"></a>
    {{/if}}
    {{#unless this}}
    <a href="/"><img src="/images/LogoV.png" alt="Vimo logo"></a>
    {{/unless}}
  </div>
  {{#unless this}}
  <div class="navigation__search">
    <input type="text" placeholder="Search photos..." name="search" id="search-query">
    <button id="search" class="button button--send"><i class="fas fa-search"></i></button>
  </div>
  {{/unless}}
  <div class="navigation__list">
    <a href="/" class="navigation__list-link"><i class="fas fa-home"></i></a>
    {{#if this}}
    <a href="/user/{{this._id}}" class="navigation__list-link"><i class="fas fa-user"></i></a>
    <a href="/auth/logout" class="navigation__list-link">Logout</a>
    {{/if}}
    {{#unless this}}
    <a href="/auth/login" class="navigation__list-link">Login</a>
    <a href="/auth/signup" class="navigation__list-link">Signup</a>
    {{/unless}}
  </div>
</nav>