<nav class="navigation">
  <div class="navigation__logo">
    <a href="/"><img src="/images/logo.png" alt="Vimo logo"></a>
  </div>
  <div class="navigation__search">
    <input type="text" placeholder="Search photos..." name="search">
    <button class="button button--send"><i class="fas fa-search"></i></button>
  </div>
  <div class="navigation__list">
    <a href="/" class="navigation__list-link"><i class="fas fa-home"></i></a>
    <a href="/profile" class="navigation__list-link"><i class="fas fa-user"></i></a>
    <a href="/auth/login" class="navigation__list-link">Login</a>
    <a href="/auth/signup" class="navigation__list-link">Signup</a>
    <a href="/auth/logout" class="navigation__list-link">Logout</a>
  </div>
</nav>