<nav class="navigation">
  <div class="navigation__logo">
    <a href="/"><img src="/images/LogoVimo.png" alt="Vimo logo"></a>
  </div>
  <div class="navigation__list">
    <a href="/" class="navigation__list-link"><i class="fas fa-home"></i></a>
    {{#if this}}
    <a href="/user/{{this._id}}" class="navigation__list-link"><i class="fas fa-user"></i></a>
    <a href="/auth/logout" class="navigation__list-link">Logout</a>
    {{/if}}
    {{#unless this}}
    <a href="/auth/login" class="navigation__list-link">Login</a>
    <a href="/auth/signup" class="navigation__list-link">Signup</a>
    {{/unless}}
  </div>
</nav>