{{> navigation/navigation}}
<div class="content">
  <div class="focused-content">
    <div class="focused-content__close">
      <a href="/mock/album"><i class="fas fa-times"></i></a>
    </div>
    <h1 class="focused-content__title">Upload images</h1>
    <div class="focused-content__action">
      <form action="/" method="POST" id="form" class="form" enctype="multipart/form-data">
        <div class="form__group">
          <label for="photos">Photos</label>
          <input id="photos" type="file" name="photos" multiple>
        </div>
        {{#if message }}
          <div class="form__message">{{ message }}</div>
        {{/if}}
        <div class="form__submitting">
          <a href="/mock/album" class="button button--send">Add images to album</a>
        </div>
      </form>
      <a href="/mock/album" class="button">Cancel</a>
    </div>
  </div>
</div>