{{> navigation/navigation}}
<div class="content">
  <div class="normal-content">
    <h2 class="images-list__title">Album name</h1>
    <div class="images-list">
      {{> cards/card url='/mock/upload-images' title='Upload photos'}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
      {{> cards/image}}
    </div>
  </div>
</div>