$default-font-size: 1.6rem;
$link-color: #193441;
$text-color: #193441;
$bg-color: #FCFFF5;
$shadow-color: hsla(0, 0%, 15%, .6);
$max-width: 120rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// NAVBAR
$logo-height: 3rem;
$navigation-bg: #3E606F;
$navigation-color: #FCFFF5;

// COLORS
$color-black: #111;
$color-white: #FCFFF5;
$color-red: #F25041;
$color-blue: #91AA9D;
$color-instagram: #DF4480;
$color-facebook: #3b5998;

// ALBUM
$album-card-dimensions: 30rem;

// PHOTO
$photo-card-dimensions: 30rem;

// PROFILE
$profile-image-dim: 10rem;