$default-font-size: 1.6rem;
$link-color: #00B7FF;
$text-color: #333;
$bg-color: #FAFAFA;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// NAVBAR
$logo-height: 3rem;
$navigation-bg: hsl(210, 50%, 50%);
$navigation-color: hsl(0, 0%, 95%);